*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	color: #666;
}
#body{
	margin-top: 5px;
}
#complete{
	margin-top: 5px;
	border: 1px solid #6c0;
	padding: 10px 10px;
}
#complete p{
	color: #6c0;
	text-align: justify;
	line-height: 2;
}

p>a{
	color: #000;
	font-weight: bold;
}
.return a:hover{
	text-decoration: none;
	color: #232323;
}