*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	color: #666;
}
#body{
	margin-top: 15px;
}
#wrap-inner{
	margin-top: 5px;
}
#khach-hang h3{
	color: #ff9600;
	margin-bottom: 15px;
}
#khach-hang p{
	line-height: 2;
}
#hoa-don h3{
	color: #ff9600;
	margin-top: 10px;
	margin-bottom: 15px;
}
#xac-nhan
{
	margin-bottom: 30px;
}
table{
	font-size: 16px;
}
table td{
	padding: 15px 5px;
}
table td.price{
	color: red;
}
table td.total-price{
	font-weight: bold;
	color: #e60000;
}
table tr.bold{
	font-weight: bold;
}
.info{
	font-weight: bold
}
p.info{
	margin-top: 20px;
}